<h2>Lista de Cursos!</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Nome do Cursos</th>
            <th>Preço</th>
            <th>Código</th>
            <th>Lançamento</th>
            <th>Duração/Dias</th>
            <th>QTD Alunos</th>
            <th>Avaliação</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let courses of courses">
            <td>{{ courses.imageUrl }}</td>
            <td>{{ courses.name }}</td>
            <td>{{ courses.price }}</td>
            <td>{{ courses.code }}</td>
            <td>{{ courses.releaseDate }}</td>
            <td> {{courses.duration }} </td>
            <td>{{ courses.qtdAlunos }}</td>
            <td>{{ courses.rating }}</td>
            
            <td></td>
        </tr>
    </tbody>
</table>